{
    admin off
    auto_https off
}

http://p.mxrt.eu {
    respond "Hello from wg"
}

http://paperless.p.mxrt.eu {
    reverse_proxy localhost:8000
}

http://linkding.p.mxrt.eu {
    reverse_proxy systemd-linkding:9090
}