[Unit]
Description=Linkding

[Container]
Image=docker.io/sissbruecker/linkding:latest-plus

Volume=linkding_data.volume:/etc/linkding/data
#PublishPort=127.0.0.1:{{linkding_port}}:9090
Network=net_wg.network
Environment=LD_SUPERUSER_NAME=admin
Environment=LD_SUPERUSER_PASSWORD={{linkding_superuser_password}}
Environment=LD_CSRF_TRUSTED_ORIGINS=http://linkding.p.mxrt.eu

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target