PAPERLESS_ADMIN_USER=max
PAPERLESS_ADMIN_PASSWORD={{paperless_admin_password}}
PAPERLESS_URL=http://paperless.p.mxrt.eu
PAPERLESS_ALLOWED_HOSTS=paperless.p.mxrt.eu
PAPERLESS_CSRF_TRUSTED_ORIGINS=http://paperless.p.mxrt.eu
PAPERLESS_CORS_ALLOWED_HOSTS=http://paperless.p.mxrt.eu
