[Unit]
Description=Tika for paperless
WantedBy=paperless.service
PartOf=paperless.service


[Container]
Image=docker.io/apache/tika:2.9.2.1
Network=paperless-net.network


[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target